.card-agendamento {
    background-color: rgb(250, 250, 250);
}

.card-agendamento:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}